body {
    background-color: rgb(101, 236, 112);
}
.titulo {
    text-align: center;    
}

div {
    background-color: rgb(146, 255, 151);
    margin: auto;
    width: 50%;
    height: 50%;
}

.text {}